@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body {
    font-family: Michroma;
    background: linear-gradient(245deg, #0a0a0a 0%, #4b6efb 100%);
}
p {
color: white;
}
.nav-link {
    color: aquamarine;
}
.navbar-nav .nav-link.active {
    color: rgb(164, 161, 161);
}
.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: rgb(164, 161, 161);
}
.sidebar {
    color: rgb(250, 249, 249);
    background: linear-gradient(90deg, #0a0a0a 0%, #4b6efb 100%);
}
.card {
    background: #c0ccfc;
}
.card a {
     text-decoration: none;
     color: black
}
.slide-text,
.footer-text {
    color: white;
    margin: auto auto;
    }
    footer,
    .btn-outline-primary {
        background: linear-gradient(90deg, #0a0a0a 0%, #4b6efb 100%);;
    }
.media-linx {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.call-anim {
    animation: Call 2s ease 0s 10 normal forwards;
}
@keyframes Call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px){
.carousel-indicators {
    display: none;
}  
}
